/* static/css/data_analysis.css */

.container-xxl {
    background-color: #f2f2f2;
}

h1, h3 {
    color: #333;
}

#growth-chart, #wealth-chart, #industry-chart {
    margin-bottom: 50px;
    width: 100% !important;
    height: 100% !important;
}

body {
    font-family: 'Arial', sans-serif;
}


