.container-xxl {
    background-color: #f2f2f2;
}

h1, h3 {
    color: #333;
}

#growth-chart, #wealth-chart, #industry-chart {
    margin-bottom: 50px;
    /* 移除固定宽高，确保响应式 */
    width: 100% !important;
    height: 100% !important;
}

body {
    font-family: 'Arial', sans-serif;
}



/* Spinner 样式 */
#spinner {
    display: flex; /* 默认显示加载动画 */
    /* 其他样式保持不变 */
}

#spinner.show {
    display: flex; /* 当需要显示时，设置为 flex */
}
#spinner.hidden {
    display: none !important; /* 隐藏时 */
}